.calculator-container {
  height: 400px;
  width: 300px;
  border-radius: 15px;
  background-color: #000000;
  padding: 10px;
}

.buttons-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button-row {
  display: flex;
  flex-direction: row;
  height: 80%;
  gap: 10px;
}

.button-row button {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: solid 1px #000000;
  font-size: 24px;
  transition: 0.1s ease-in;
  background-color: #caa7fc;
  color: #FFFFFF;
}

.button-row button:hover {
  background-color: #522c86;
}


.button-row .zero-btn {
  flex-basis: 52%;
  border-radius: 20px;
  text-align: left;
  padding: 15px;
}

.button-row .decimal-btn {
  flex-basis: 25%;
}

.button-row .equal-sign-btn {
  flex-basis: 25%;
}

.button-row .last-button {
  background-color: #f991be;
  transition: 0.1s ease-in;
}

.button-row .last-button:hover {
  background-color: #92003f;
}

.button-row .top {
  background-color: #ff9868;
  color: #000000;
}

.button-row .top:hover {
  background-color: #d05820;
  color: #000000;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  padding: 0 2% 0 2%;
  border-radius: 15px 15px 0px 0px;
  height: 20%
}

.display-container h1 {
  margin: 0;
  color: #9cc2ff;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.button-row button:active {
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}